{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- styling -->
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

<!-- display newssources -->
{% block content %}
<h2>News Sources</h2>
{% for source in sources %}
<div id="sources">
<h4> {{source.name}}</h4>
<p>{{source.description}}</p>
<button><a href="{{source.url}}">See articles</a></button>
</div>
<!-- <div class="card">
                <h5 class="card-header">{{source.name}}</h5>
                <div class="card-body">
                  <p class="card-text">{{source.description}}</p>
                  <a href="{{source.url}}" class="btn btn-primary">See articles</a>
                </div>
              </div>
     -->

{% endfor %}
{% endblock %}
    